/* Style Dasar */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-image: url('login\ bg.png') ;
    background-repeat: no-repeat;
    background-size: cover;
}

.container {
    display: flex;
    width: 800px;
    height: 500px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    position: relative;
}

.left-panel {
    width: 50%;
    background-color: #0099ff;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 50px;
}

.left-panel h1 {
    font-size: 28px;
    margin-bottom: 20px;
}

.left-panel p {
    font-size: 16px;
    margin-bottom: 20px;
}

.left-panel button {
    background-color: transparent;
    color: white;
    border: 2px solid white;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
}


.form-container {
    width: 50%;
    padding: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.form-container h1 {
    font-size: 24px;
    margin-bottom: 20px;
}

.form-container .social-icons {
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
}

.social-icons {
    margin: 20px 0;
}
.social-icons a {
    border: 1px solid #ccc;
    border-radius: 20%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin: 0 3px;
    width: 40px;
    height: 40px;
}


.form-container span {
    font-size: 14px;
    color: #777;
    margin-bottom: 20px;
}

.form-container input {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border-radius: 5px;
    border: 1px solid #ddd;
}

.form-container button {
    background-color: #0099ff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
}
