/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #ffffff;
  }
  
  .navbar-left {
    display: flex;
    align-items: center;
  }
  
  .menu-icon span {
    font-size: 24px;
    color: #0099ff;
    cursor: pointer;
    margin-right: 20px;
    margin-left: 20px;
  }
  
  .logo img {
    height: 30px;
  }
  
  .search-bar {
    flex: 1;
    margin: 0 20px;
  }
  
  .search-bar input {
    width: 100%;
    padding: 8px 15px;
    border-radius: 20px;
    border: none;
    outline: none;
    background-color: #f1f1f1;
    font-size: 16px;
  }
  
  .navbar-right {
    display: flex;
    gap: 10px;
  }
  
  .navbar-right button {
    padding: 8px 15px;
    border-radius: 20px;
    border: none;
    cursor: pointer;
    font-size: 14px;
  }

/* Header */
.header {
    background: linear-gradient(to right, #bcd5e5, #0099ff);
    color: white;
    text-align: center;
    padding: 2rem 1rem;
}

.header h1 {
    font-size: 2rem;
    margin-bottom: 0.5rem;
}

.header p {
    font-size: 1rem;
    opacity: 0.8;
}

/* Main Content */
.content {
    padding: 2rem;
    display: flex;
    justify-content: center;
}

/* Anime Grid */
.anime-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 1.5rem;
    max-width: 1200px;
    width: 100%;
}

/* Anime Card */
.anime-card {
    background-color: #fff;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s;
}

.anime-card:hover {
    transform: translateY(-5px);
}

.anime-card img {
    width: 100%;
    height: auto;
    border-bottom: 2px solid #0099ff;
}

.anime-info {
    padding: 1rem;
    color: #333;
}

.anime-info h2 {
    font-size: 1.2rem;
    margin-bottom: 0.5rem;
}

.anime-info p {
    font-size: 0.9rem;
    color: #777;
    margin-bottom: 0.5rem;
}

.anime-info span {
    font-weight: bold;
    color: #0099ff;
}

/* Responsive */
@media (max-width: 600px) {
    .header h1 {
        font-size: 1.5rem;
    }

    .anime-info h2 {
        font-size: 1rem;
    }
}
